#header {
  width: 100%;
  background: #fff; }

.header-top {
  background: #f2f2f2;
  padding: 4px 0 5px 0; }

.top-nav {
  margin-right: 50px; }

.top-nav > li {
  float: left;
  font-size: 12px;
  margin-left: 5px; }

.top-nav .boregistor {
  border-left: 1px #ccc solid;
  padding-left: 5px;
  padding-right: 15px; }

.top-nav .jiantou {
  padding: 0 20px;
  background: url(../img/icons.png) no-repeat 70px -162px;
  cursor: pointer;
  position: relative; }

.top-nav .xwimg {
  margin-left: 20px;
  width: 17px;
  height: 15px;
  background: url(../img/icons.png) no-repeat 0 -199px;
  cursor: pointer; }

.top-nav .top-nav-ul {
  padding: 10px;
  background: #f2f2f2;
  position: absolute;
  left: -17px;
  display: none; }

.top-nav .top-nav-ul li {
  height: 20px;
  line-height: 20px;
  width: 110px;
  text-align: center; }

.top-nav .jiantou:hover {
  background: url(../img/icons.png) no-repeat 70px -216px; }

.top-nav .jiantou:hover .top-nav-ul {
  display: block; }

.top-nav-ul li a:hover {
  color: red; }

.header {
  padding-top: 20px;
  width: 1210px;
  margin: 0 auto; }

.search {
  width: 544px;
  padding: 15px 0px 0px 165px; }
  .search .searchtext {
    width: 450px;
    height: 29px;
    border: 2px red solid;
    padding-left: 10px; }

.searchbutton {
  width: 80px;
  height: 33px;
  background: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer; }

.searchul li {
  float: left;
  color: #959595;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px; }
  .searchul li a {
    color: #959595;
    font-size: 12px; }

.nav {
  width: 1210px;
  margin: 0 auto;
  margin-top: 25px; }
  .nav li {
    float: left; }

.nav-ul {
  z-index: 1;
  background: #fff; }

.nav-ul > li {
  width: 210px;
  color: #000;
  height: 52px;
  line-height: 52px;
  cursor: default;
  font-size: 14px;
  text-indent: 50px;
  position: relative; }

.nav-ul > li > a, .poic li a {
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0px 20px;
  font-size: 16px; }

.nav h2 {
  width: 210px;
  height: 35px;
  line-height: 35px;
  background: red;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-indent: 30px;
  position: relative; }
  .nav h2 .nav-ul {
    position: absolute; }

.poic > li a:hover {
  color: red; }

.nav h2 ul li span {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 14px; }

.nav h2 ul .icoone {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -482px; }

.nav h2 ul .icotwo {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -452px; }

.nav h2 ul .icothree {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -392px; }

.nav h2 ul .icofour {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -238px; }

.nav h2 ul .icofive {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -268px; }

.nav h2 ul .icosix {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -208px; }

.nav h2 ul .icoseven {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -336px; }

.nav h2 ul .icoeight {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -362px; }

.nav h2 ul .iconine {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -183px; }

.nav h2 ul li i {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -540px;
  right: 10px;
  top: 14px; }

.poicimg a {
  background: url(../img/dzzx.gif) no-repeat;
  width: 85px; }

.nav-box {
  width: 990px;
  height: 460px;
  border: 5px #fed4d6 solid;
  position: absolute;
  left: 210px;
  display: none; }

.boxone {
  top: 0px; }

.boxtwo {
  top: -52px; }

.boxthree {
  top: -104px; }

.boxfour {
  top: -156px; }

.boxfive {
  top: -208px; }

.boxsix {
  top: -260px; }

.boxseven {
  top: -312px; }

.boxeight {
  top: -364px; }

.boxnine {
  top: -416px; }

.nav-box-left {
  width: 750px;
  height: 460px;
  text-indent: 0px;
  padding: 0px 10px 0px 10px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2; }

.navbox {
  position: relative;
  z-index: 3; }

.navbox p {
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  font-weight: 900;
  text-decoration: underline;
  font-size: 14px;
  width: 80px;
  text-align: right; }

.navbox ul {
  padding: 8px 0px;
  width: 640px; }

.navbox ul li {
  height: 18px;
  line-height: 18px;
  border-left: 1px #e0e0e0 solid;
  padding: 0px 10px;
  margin-bottom: 6px;
  font-size: 12px; }
  .navbox ul li a {
    color: #676968; }

.nav-box-right {
  width: 220px;
  height: 460px;
  background: #fff;
  padding-top: 5px; }

.nav-box-right a {
  display: block; }

.nav-box-right a img {
  display: block;
  padding: 5px; }

.nav h2 > ul > li:hover {
  background: #fed4d6;
  color: red; }

.nav h2 > ul > li:hover .nav-box {
  display: block; }

.nav h2 ul {
  display: none; }

.nav h2:hover ul {
  display: block; }
