@charset "UTF-8";
#header {
  width: 100%;
  background: #fff; }

.header-top {
  background: #f2f2f2;
  padding: 4px 0 5px 0; }

.top-nav {
  margin-right: 50px; }

.top-nav > li {
  float: left;
  font-size: 12px;
  margin-left: 5px; }

.top-nav .boregistor {
  border-left: 1px #ccc solid;
  padding-left: 5px;
  padding-right: 15px; }

.top-nav .jiantou {
  padding: 0 20px;
  background: url(../img/icons.png) no-repeat 70px -162px;
  cursor: pointer;
  position: relative; }

.top-nav .xwimg {
  margin-left: 20px;
  width: 17px;
  height: 15px;
  background: url(../img/icons.png) no-repeat 0 -199px;
  cursor: pointer; }

.top-nav .top-nav-ul {
  padding: 10px;
  background: #f2f2f2;
  position: absolute;
  left: -17px;
  display: none; }

.top-nav .top-nav-ul li {
  height: 20px;
  line-height: 20px;
  width: 110px;
  text-align: center; }

.top-nav .jiantou:hover {
  background: url(../img/icons.png) no-repeat 70px -216px; }

.top-nav .jiantou:hover .top-nav-ul {
  display: block; }

.top-nav-ul li a:hover {
  color: red; }

.header {
  padding-top: 20px;
  width: 1210px;
  margin: 0 auto; }

.search {
  width: 544px;
  padding: 15px 0px 0px 165px; }
  .search .searchtext {
    width: 450px;
    height: 29px;
    border: 2px red solid;
    padding-left: 10px; }

.searchbutton {
  width: 80px;
  height: 33px;
  background: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer; }

.searchul li {
  float: left;
  color: #959595;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px; }
  .searchul li a {
    color: #959595;
    font-size: 12px; }

.nav {
  width: 1210px;
  margin: 0 auto;
  margin-top: 25px; }
  .nav li {
    float: left; }

.nav-ul {
  z-index: 1;
  background: #fff; }

.nav-ul > li {
  width: 210px;
  color: #000;
  height: 52px;
  line-height: 52px;
  cursor: default;
  font-size: 14px;
  text-indent: 50px;
  position: relative; }

.nav-ul > li > a, .poic li a {
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0px 20px;
  font-size: 16px; }

.nav h2 {
  width: 210px;
  height: 35px;
  line-height: 35px;
  background: red;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-indent: 30px;
  position: relative; }
  .nav h2 .nav-ul {
    position: absolute; }

.poic > li a:hover {
  color: red; }

.nav h2 ul li span {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 14px; }

.nav h2 ul .icoone {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -482px; }

.nav h2 ul .icotwo {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -452px; }

.nav h2 ul .icothree {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -392px; }

.nav h2 ul .icofour {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -238px; }

.nav h2 ul .icofive {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -268px; }

.nav h2 ul .icosix {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -208px; }

.nav h2 ul .icoseven {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -336px; }

.nav h2 ul .icoeight {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -362px; }

.nav h2 ul .iconine {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -183px; }

.nav h2 ul li i {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -540px;
  right: 10px;
  top: 14px; }

.poicimg a {
  background: url(../img/dzzx.gif) no-repeat;
  width: 85px; }

.nav-box {
  width: 990px;
  height: 460px;
  border: 5px #fed4d6 solid;
  position: absolute;
  left: 210px;
  display: none; }

.boxone {
  top: 0px; }

.boxtwo {
  top: -52px; }

.boxthree {
  top: -104px; }

.boxfour {
  top: -156px; }

.boxfive {
  top: -208px; }

.boxsix {
  top: -260px; }

.boxseven {
  top: -312px; }

.boxeight {
  top: -364px; }

.boxnine {
  top: -416px; }

.nav-box-left {
  width: 750px;
  height: 460px;
  text-indent: 0px;
  padding: 0px 10px 0px 10px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2; }

.navbox {
  position: relative;
  z-index: 3; }

.navbox p {
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  font-weight: 900;
  text-decoration: underline;
  font-size: 14px;
  width: 80px;
  text-align: right; }

.navbox ul {
  padding: 8px 0px;
  width: 640px; }

.navbox ul li {
  height: 18px;
  line-height: 18px;
  border-left: 1px #e0e0e0 solid;
  padding: 0px 10px;
  margin-bottom: 6px;
  font-size: 12px; }
  .navbox ul li a {
    color: #676968; }

.nav-box-right {
  width: 220px;
  height: 460px;
  background: #fff;
  padding-top: 5px; }

.nav-box-right a {
  display: block; }

.nav-box-right a img {
  display: block;
  padding: 5px; }

.nav h2 > ul > li:hover {
  background: #fed4d6;
  color: red; }

.nav h2 > ul > li:hover .nav-box {
  display: block; }

body {
  background: #f2f2f2; }

/* 轮播 */
.banner {
  width: 100%;
  height: 470px;
  position: relative; }
  .banner .banner-nner {
    width: 210px;
    position: absolute;
    top: 0;
    right: 80px;
    margin: 0 auto; }
    .banner .banner-nner .banner-right {
      height: 470px; }

.round {
  position: absolute;
  bottom: 10px;
  right: 330px; }

.round li {
  position: relative;
  width: 16px;
  height: 16px;
  float: left;
  background: #fff;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px; }

.round .roundli {
  background: red; }

.chartul {
  width: 100%;
  height: 470px;
  position: relative; }

.chartul li {
  position: absolute;
  width: 100%;
  height: 470px;
  opacity: 0;
  filter: alpha(opacity=0); }

.chartul .active {
  opacity: 1;
  filter: alpha(opacity=100); }

.banner-right-div {
  width: 180px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.8); }
  .banner-right-div div {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px; }
  .banner-right-div p {
    height: 18px;
    line-height: 18px; }

.banner-right-div > a {
  display: block;
  text-align: right;
  height: 25px;
  line-height: 25px;
  color: red; }

.banner-right-img {
  width: 210px;
  padding: 25px 0px;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px 0px; }
  .banner-right-img a {
    display: block;
    text-align: center; }

.banner-right-npg {
  width: 210px;
  background: rgba(255, 255, 255, 0.5);
  padding: 14px 0px; }
  .banner-right-npg a {
    display: block;
    text-align: center; }
    .banner-right-npg a .banner-big {
      font-size: 15px;
      height: 28px;
      line-height: 28px; }
    .banner-right-npg a .banner-min {
      font-size: 13px; }

/* 头部tab切换 */
.main-tab {
  width: 1210px;
  margin: 30px auto 30px; }
  .main-tab h3 {
    height: 30px;
    line-height: 30px;
    font-size: 18px; }
    .main-tab h3 span {
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      color: #8a8a8a; }

.main-tab-top li, .main-tab-inner li {
  width: 123px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #fff;
  font-size: 20px;
  margin: 1px 1px 0px 0px;
  cursor: pointer; }

.main-tab-inner {
  width: 869px; }

.main-tab-inner li {
  float: left; }
  .main-tab-inner li a {
    display: block;
    height: 80px;
    width: 123px;
    overflow: hidden; }
    .main-tab-inner li a img {
      display: block;
      height: 80px;
      width: 123px;
      transition: all 0.5s; }
      .main-tab-inner li a img:hover {
        transform: scale(1.1); }

.main-tab-top .bgcolor {
  background: #000;
  color: #fff; }

.tabinner {
  display: none; }

.tabblock {
  display: block; }

.main-tab-right {
  width: 206px;
  height: 322px;
  border: 1px #fff solid;
  position: relative; }

.main-tab-right p {
  position: absolute;
  width: 206px;
  top: 269px;
  left: 0px;
  background: #000;
  padding: 10px 0px 10px 0;
  opacity: 0.8;
  filter: alpha(opacity=80); }
  .main-tab-right p span {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px; }
  .main-tab-right p i {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 12px; }

/* 今日广告 */
.main-img {
  width: 100%;
  background: #fff;
  padding-bottom: 45px; }
  .main-img div {
    width: 1210px;
    margin: 0 auto; }
    .main-img div h3 {
      text-align: center;
      height: 90px;
      line-height: 90px;
      border-bottom: 2px #000 solid;
      font-size: 25px; }
      .main-img div h3 span {
        color: #898989;
        font-weight: normal; }

/* 楼层 */
.floor {
  width: 1210px;
  margin: 0 auto;
  padding: 35px 0px; }
  .floor .floor-title {
    border-bottom: 2px #000 solid; }
    .floor .floor-title i {
      font-style: italic;
      font-weight: 900;
      font-size: 30px; }
    .floor .floor-title span {
      font-size: 18px;
      font-weight: 900; }
    .floor .floor-title li {
      float: left;
      padding: 0px 10px;
      font-size: 13px;
      padding-top: 22px; }

.floor-inner {
  margin-bottom: 35px; }

.floor-title a:hover {
  color: red; }

.floor-main {
  background: #fff; }

.floor-main-left {
  width: 155px;
  height: 352px;
  padding: 20px; }

.main-left-one, .main-left-two {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #ff6600; }
  .main-left-one a, .main-left-two a {
    color: #ff6600; }
    .main-left-one a:hover, .main-left-two a:hover {
      text-decoration: underline; }

.main-left-one {
  margin-top: 10px; }

.main-left-two {
  padding-bottom: 20px;
  border-bottom: 1px #e5e5e5 solid; }

.floor-lunbo-one {
  margin-top: 20px;
  position: relative;
  height: 220px;
  overflow: hidden; }

.lunbo-boxone {
  position: absolute;
  width: 465px;
  top: 0px; }

.lunbo-boxtwo {
  position: absolute;
  width: 465px;
  top: 0px; }

.lunbo-boxthree {
  position: absolute;
  width: 465px;
  top: 0px; }

.floor-main .lunbo-one-qy .one-qy, .floor-main .lunbo-one-qy .two-qy, .floor-main .lunbo-one-qy .three-qy {
  background: red; }

.lunbo-one {
  width: 155px; }

.lunbo-one img {
  width: 155px;
  height: 55px; }

.floor-main .lunbo-one-qy span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #b6b6b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px; }

.floor-main .lunbo-one-qy {
  position: absolute;
  left: 58px;
  top: 170px; }

.floor-main ul {
  width: 609px;
  border-left: 1px #e5e5e5 solid; }
  .floor-main ul li {
    float: left;
    width: 202px;
    border-right: 1px #e5e5e5 solid;
    height: 170px;
    overflow: hidden; }

.floor-main .bigheight {
  border-bottom: 1px #e5e5e5 solid;
  height: 260px; }

.bigheight img, .minheight img {
  width: 202px;
  transition: all 0.5s; }

.bigheight img:hover {
  transform: scale(1.1); }

.minheight img:hover {
  transform: scale(1.1); }

.main-left-three {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #29bbf1; }
  .main-left-three a {
    color: #29bbf1; }
    .main-left-three a:hover {
      text-decoration: underline; }

.main-left-black {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #000; }
  .main-left-black a:hover {
    text-decoration: underline; }

.main-left-jiayong {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: red; }
  .main-left-jiayong a {
    color: red; }
    .main-left-jiayong a:hover {
      text-decoration: underline; }

.main-left-gehu {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #f954cb; }
  .main-left-gehu a {
    color: #f954cb; }
    .main-left-gehu a:hover {
      text-decoration: underline; }

.main-left-fushi {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #1a4fd6; }
  .main-left-fushi a {
    color: #1a4fd6; }
    .main-left-fushi a:hover {
      text-decoration: underline; }

.main-left-xiexue {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #ab40ed; }
  .main-left-xiexue a {
    color: #ab40ed; }
    .main-left-xiexue a:hover {
      text-decoration: underline; }

.main-left-baojian {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #5e9301; }
  .main-left-baojian a {
    color: #5e9301; }
    .main-left-baojian a:hover {
      text-decoration: underline; }

.main-left-jiajv {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #cb7a1a; }
  .main-left-jiajv a {
    color: #cb7a1a; }
    .main-left-jiajv a:hover {
      text-decoration: underline; }

.main-left-jiafang {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #d7a90b; }
  .main-left-jiafang a {
    color: #d7a90b; }
    .main-left-jiafang a:hover {
      text-decoration: underline; }

.main-left-muyin {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #1d66d4;
  padding: 20px 0px;
  border-bottom: 1px #e5e5e5 solid; }
  .main-left-muyin a {
    color: #1d66d4; }
    .main-left-muyin a:hover {
      text-decoration: underline; }

.main-left-yundong {
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  height: 34px;
  color: #e77e29; }
  .main-left-yundong a {
    color: #e77e29; }
    .main-left-yundong a:hover {
      text-decoration: underline; }

.himg {
  margin-bottom: 30px; }

.side {
  width: 40px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  z-index: 1000; }
  .side div {
    margin-top: 50px;
    border-bottom: 1px #4a4a4a solid; }
  .side .sideone {
    display: block;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 5px;
    transition: all 0.3s; }
    .side .sideone:hover {
      background: red; }
    .side .sideone span {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: url(../img/icon_sitebar_2015.png) no-repeat 0px -566px; }
    .side .sideone i {
      color: #fff; }

.sidetwo {
  display: block;
  text-align: center;
  padding-bottom: 5px;
  margin: 10px 0px 25px 0px;
  transition: all 0.3s; }
  .sidetwo:hover {
    background: red; }
  .sidetwo span {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../img/icon_sitebar_2015.png) no-repeat 0px -60px; }
  .sidetwo i {
    color: #fff; }

.sidecat {
  display: block;
  text-align: center;
  padding-top: 25px;
  border-top: 1px #4a4a4a solid; }
  .sidecat span {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../img/icon_sitebar_2015.png) no-repeat 0px 0px; }
  .sidecat i {
    display: inline-block;
    color: #fff;
    width: 12px; }
  .sidecat b {
    display: block;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #ef353d;
    margin: 10px; }

.sidethree, .sidehui {
  display: block;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s; }
  .sidethree:hover, .sidehui:hover {
    background: red; }
  .sidethree span, .sidehui span {
    display: inline-block;
    height: 30px;
    width: 30px; }
  .sidethree i, .sidehui i {
    color: #fff; }

.sidethree span {
  background: url(../img/share.png) no-repeat -3px; }

.sidehui span {
  background: url(../img/icon_sitebar_2015.png) no-repeat 0px -150px; }

.floor-main-right {
  width: 405px;
  height: 431px; }

.louti {
  width: 30px;
  background-color: #fff;
  position: fixed;
  left: 35px;
  top: 160px;
  z-index: 100; }
  .louti li {
    padding: 3px;
    height: 24px;
    line-height: 24px;
    background: url(../img/下载.png);
    text-align: center; }
    .louti li .textnum {
      display: block; }
    .louti li .textch {
      display: none; }

.louti .nobg {
  background: none; }

.louti .active {
  background: red; }
